<header class="header-background accent-bg">
  <div class="header-section">
    <div class="header-headline">
      <img class="midwifestats-logo" src="../../../assets/midwifestats-logo.svg" alt="midwifestats">
      <h1>MidwifeStats</h1>
      <h2>Unofficial stat site for (prospective) midwives that are busy catching babies</h2>
    </div>
  </div>
</header>

<div class="homepage-promo">
  <div class="homepage-grid">
    <mat-card>
      <mat-card-title>
        Why is this a thing?
      </mat-card-title>
      <mat-card-content>
        <p>This app came about because my friend
          <a class="primary" [routerLink]="['/morgan']">Morgan</a> was tired of people asking her how many babies she had left.</p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>
        How do I sign up / login?
      </mat-card-title>
      <mat-card-content>
        <p>You can sign up using facebook... but we're currently in a private beta.</p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>
        Who maintains this app?
      </mat-card-title>
      <mat-card-content>
        <p>Matt Martz - not a midwife. Just a nerd.</p>
        <div class="social">
          <a class="primary" href="https://linkedin.com/in/martzcodes" aria-label="linkedin" target="_blank">
            <i class="fa fa-3x fa-linkedin"></i>
          </a>
          <a class="primary" href="https://twitter.com/martzcodes" aria-label="twitter" target="_blank">
            <i class="fa fa-3x fa-twitter-square"></i>
          </a>
          <a class="primary" href="https://github.com/martzcodes" aria-label="github" target="_blank">
            <i class="fa fa-3x fa-github-square"></i>
          </a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>