<nav class="navbar-header primary-bg">
  <a mat-button class="nav-button" routerLink="/" aria-label="MidwifeStats">
    <img class="midwifestats-logo" src="../../../assets/midwifestats-logo.svg" alt="midwifestats">
    <span>MidwifeStats</span>
  </a>
  <a mat-button *ngIf="authenticated && vanity" class="nav-button navbar-hide-small" [routerLink]="['/', vanity]" routerLinkActive="accent-bg">My Profile</a>
  <a mat-button *ngIf="authenticated" class="nav-button navbar-hide-small" routerLink="/edit-profile" routerLinkActive="accent-bg">Edit Profile</a>

  <div class="flex-spacer"></div>
  <button mat-button *ngIf="!authenticated" class="nav-button active nav-auth" (click)="social('facebook')">Login</button>
  <button mat-button *ngIf="authenticated" class="nav-button active nav-auth" (click)="logout()">Logout</button>
</nav>
<nav class="navbar navbar-show-small primary-bg">
  <a mat-button *ngIf="authenticated && vanity" class="nav-button" [routerLink]="['/', vanity]" routerLinkActive="accent-bg">My Profile</a>
  <a mat-button *ngIf="authenticated" class="nav-button" routerLink="/edit-profile" routerLinkActive="accent-bg">Edit Profile</a>
</nav>